<header>
    <h1 class="logo">Jesse's Awesome Service Using Handlebars and Webpack 4</h1>
    <nav class="navigation">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/">About</a>
            </li>
            <li>
                <a href="/">Contact</a>
            </li>
        </ul>
    </nav>
</header>